.hidden {
            display: none;
        }
        .container {
            position: relative;
            width:100vw;
            height:80vh;
            
        }

        #button2{
            position:absolute;
            left:30vw;
            top:20vw;
        }

        #button3{
            position:absolute;
            left:60vw;
            top:10vw;
        }

        #button4{
            position:absolute;
            left:70vw;
            top:40vw;
        }

        #textArea5{
            position:absolute;
            left:70vw;
            top:45vw;
            width: 20vw;
        }
        
        @media only screen and (max-width: 600px) {
            .container {
                width: 100%;
                height: auto;
                display:flex;
                flex-direction: column;
                align-items: center;
            }

            #button2,
            #button3,
            #button4,
            #textArea5 {
                position: static;
                margin-top: 10px;
                
            }

            #button2{
                margin-left:40px;
            }

            #button3{
                margin-left:-20px;
            }
        }